# Шаблон переменных окружения
PROJECT_NAME=resource-monetization
LOG_LEVEL=INFO

# Пути к рабочим директориям
DATA_DIR=F:/Work/Projects/resource-monetization/data
LOGS_DIR=F:/Work/Projects/resource-monetization/logs
